<div>
  <mat-list class="shift_list">
    <mat-list-item *ngFor="let shift of shifts">
      <div class="icon">
        <mat-icon [ngStyle]="{ color: shift.color }" matListIcon>work</mat-icon>
      </div>
      <div class="shift_name">
        <h3 matLine>{{ shift.name }}</h3>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<div class="nav_buttons">
  <div>
    <button mat-fab routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div>
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
