.content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hours_count {
  z-index: 0;
  color: rgb(226, 226, 226);
}

.nav_buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
}
