.nav_buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
}

.hours_list {
  position: absolute;
  margin-top: 8%;
  margin-left: 50%;
  margin-right: 50%;
}

.icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.hours_count {
  position: relative;
  top: 30px;
  transform: translate(-50%, -40%);
  z-index: 0;
  color: rgb(187, 187, 187);
}
