
.months-navbar
{
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.active-month
{
  size: 100%;
  color: rgb(206, 206, 206);
  margin: 0;
}

.arrow-right, .arrow-left
 {
  width: 50px;
  height: 50px;
  color: rebeccapurple;
  cursor: pointer;
}

.week-days
{
  text-align: center;
  font-size: 140%;
  color: rgb(206, 206, 206);
}

/*inactive days in calendar*/
td
{
  font-size: 4vh;
  color: gray;
  border: none;
}

th
{
  font-size: 1vw;
}

@media only screen and (max-width: 1200px) {
  th
  {
    font-size: 2vw;
  }
}

.calendar
{
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.shift-chip
{
  border-radius: 2vh;
  width: 95%;
  max-width: 100px;
  height: 25px;
  background-color:darkmagenta;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2vh;
}

.vert-center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.hour-chip
{
  border-radius: 20px;
  width: 95%;
  max-width: 50px;
  height: 25px;
  background-color:darkmagenta;
  margin: auto;
  font-size: 2vh;
}

.activeMonth
{
  color: rgb(224, 224, 224);
}

.activeDay
{
  color: red;
}
