
.months-navbar {
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 40px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  padding-left: 2%;
  padding-right: 2%;
}

.active-month {
  color: rgb(206, 206, 206);
  margin: 0;
}

.arrow-right, .arrow-left {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgb(206, 206, 206);
}

.week-days {
  text-align: center;
  font-size: 140%;
  color: rgb(206, 206, 206);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
}

/*inactive days in calendar*/
td {
  font-size: 4vh;
  color: gray;
  border: none;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
}

th {
  font-size: 1vw;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1200px) {
  th {
    font-size: 2vw;
  }
}

.calendar {
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.shift-chip {
  border-radius: 2vh;
  width: 95%;
  max-width: 100px;
  height: 25px;
  background-color: rgb(53, 53, 53);
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.5vh;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.vert-center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: black;
}

.hour-chip {
  border-radius: 20px;
  width: 95%;
  max-width: 50px;
  height: 25px;
  background-color: rgb(53, 53, 53);
  margin: auto;
  font-size: 1.5vh;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.activeMonth {
  color: rgb(224, 224, 224);
}

.activeDay {
  color: rgb(180, 0, 0);
}
