
.months-navbar
{
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.active-month
{
  size: 100%;
  color: rgb(206, 206, 206);
}

.arrow-right, .arrow-left
 {
  width: 50px;
  height: 50px;
  color: rebeccapurple;
  cursor: pointer;
}

.week-days
{
  text-align: center;
  font-size: 140%;
  color: rgb(206, 206, 206);
}

/*inactive days in calendar*/
td
{
  font-size: 30px;
  color: gray;
  border: none;
}

.calendar
{
  height: 100%;
  width: 100%;
  margin-right: 40%;
}

.shift-chip
{
  border-radius: 20px;
  width: 80px;
  height: 20px;
  background-color:darkmagenta;
}

.hour-chip
{
  border-radius: 20px;
  width: 40px;
  height: 20px;
  background-color:darkmagenta;
}

.activeMonth
{
  color: rgb(224, 224, 224);
  min-width: 120px;
}

.activeDay
{
  color: red;
}
